@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Customers</h1>
</div>

<ul>
    @foreach (var customer in Model) {
        <li>@customer.CompanyName</li>
    }
</ul>