@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestione Contatti</h1>
</div>

<div class="row">
<div id="contact-list" class="col-6">
    <h3>Elenco Contatti in Archivio</h3>
    <ul></ul>
</div>
<div id="edit-form" class="col-6">
    <h3>Modifica/Inserimento</h3>
    <div><span>Nome</span><input id="name" /></div>
    <div><span>Telefono</span><input id="phone" /></div>
    <button type="button" id="insert">Inserisci</button>
</div>
</div>