html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.template {
    display: block;
    padding: 2px;
}

    .template .name {
        padding: 2px;
        background-color: antiquewhite;
        font-weight: bold;
    }

    .template .city::before {
        content: '('
    }

    .template .city::after {
        content: ')'
    }
