@{
    ViewData["Title"] = "Home Admin";
}
<div class="text-center">
    <h1 class="display-4">Amministrazione</h1>
</div>

<div class="d-flex flex-row p-2">
    <div class="card">
        <div class="card-header text-center bg-opacity-50">
            <a asp-action="Products" class="link-info">Gestione Prodotti</a>
        </div>
        <div class="card-body text-muted">
            Gestione dei prodotti in vendita.
        </div>
    </div>
</div>
