@using W7.Project.DataLayer.Entities
@model CompanyEntity

<div class="template company">
    <span class="icon"><i class="bi bi-building-fill"></i></span>
    <span class="name">@Model.DisplayName</span>
    <span class="city">@Model.City</span>
</div>