@using W7.Project.DataLayer.Entities
@model PersonEntity

<div class="template person">
    <span class="icon"><i class="bi bi-person-fill"></i></span>
    <span class="name">@Model.DisplayName</span>
    <span class="city">@Model.City</span>
</div>