@model IEnumerable<Article>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyBlog</h1>
</div>

<div class="row">
    <div class="col">
        <a asp-action="WriteArticle" class="btn btn-primary">Nuovo Articolo</a>
    </div>
</div>
@if (Model.Any()) {
    <div class="row">
        <table class=" offset-1 col-10 table table-borderless">
            @foreach (var article in Model) {
                <tr>
                    <td>@article.Title</td>
                    <td><a asp-action="Read" asp-route-id="@article.Id" class="btn btn-sm btn-info">Leggi</a></td>
                </tr>
            }
        </table>
    </div>
}
else {
    <div class="row mt-2">
        <div class="col alert alert-warning">Nessun articolo in archivio</div>
    </div>
}