@model WebMvcSample.Controllers.Models.CalculateModel
@{
    ViewBag.Title = "Calculate";
}

<h2>Risultato</h2>

<span>@Model.First</span> <span>@Model.Operation</span> <span>@Model.Second</span> <span>=</span> <span>@Model.Result</span>
